body{
    background-color: #e4f9f5 !important;
}

div .row{
    margin: 0px;
    font-family: Cambria;
}

#page-header{
    text-align: center;
    color: #40514e;
}

#submit-btn{
    margin-top: 37px;
    margin-bottom: 37px;
}

#submit-btn button{
    background-color: #11999e;
    border-color: #11999e;
    font-weight: bold;
}

#submit-btn button:hover{
    background-color: #40514e;
    border-color: #40514e;
    font-weight: bold;
}