body{
    background-color: #11999e !important;
}


div .row{
    margin: 0px;
    font-family: Cambria;
}

#page-header{
    text-align: center;
    color: white;
}

#add-button{
    text-align: center;
    margin-top: 17px;
}

#add-button a{
    color: white;
}

#add-button a:hover{
    background-color: #30e3ca;
    color: #40514e;
}

ul{
    padding-top: 21px;
    padding-bottom: 21px;
}

.list-group li{
    border-width: 2px;
    background-color: #40514e;
    padding: 0px;
}

.list-group-item table{
    margin-bottom: 0px;
    color: white;
}

#table-number{
    width: 37px;
}

#table-header{
    width: auto;
}

#edit-button{
    text-align: center;
    width: 50px;
}

#delete-button{
    text-align: center;
    width: 90px;
}

.list-group-item a, .list-group-item a:hover{
    text-decoration: none;
    color: white;
}