div .row{
    margin: 0px;
    font-family: Cambria;
}

#page-header{
    text-align: center;
    color: #11999e;
}

ul{
    padding-top: 21px;
    padding-bottom: 21px;
}

.list-group li{
    border-width: 2px;
    background-color: #e4f9f5;
}

tr .table-header{
    width: 400px;
}