body{
    background-color: #11999e !important;
}

div .row{
    margin: 0px;
    font-family: Cambria;
}

#page-header{
    text-align: center;
    color: white;
}

ul{
    padding-top: 21px;
    padding-bottom: 28px;
}

.list-group li{
    border-width: 2px;
    background-color: #40514e;
}

table th, table td{
    color: white;
}

tr .table-header{
    width: 400px;
}